.list-item,
.list-item * {
  box-sizing: border-box;
  width: 336px;
  height: 117px;
}

.list-item {
  background: #f2f2f2;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 106px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 336px;
  height: 117px;
  margin-bottom: 10px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 85px;
  position: relative;
}

.city-text {
  min-width: 0px;
  margin-top: 5px;
  height: 20px;
  color: #2c2c2c;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}

.weather {
  color: #2c2c2c;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image {
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  position: relative;
}

.ulItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers the list items horizontally */
  margin-top: 10px;
  border-radius: 5px;
}